.main {
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 41.19%
  );
}

.features {
  /* margin-left: auto; */
  /* justify-content: space-around; */
  width: 100%;
  margin-top: 3%;
  padding: 1%;
  background: rgba(255, 255, 255, 0.1);
  /* button.sh */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
.features ul {
  /* margin-top: 20%; */
  list-style-type: none;
  /* margin: auto; */
}
.features ul li {
  margin: auto;
  width: 30%;
  margin-top: 2%;
}
.features img {
  width: 50px;
  /* margin-top: 0%; */
  margin-bottom: 4%;
  margin-right: 3%;
}
.features span {
  font-weight: bold;
  margin-left: 5%;
}

.sale-percent {
  height: 43px;
  width: 75px;
  background-color: #f17228;
  text-align: center;
  padding-top: 5px;
  border-radius: 0px 12px 5px 20px;
  color: white;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.see-more {
  height: 48px;
  width: 180px;
  background-color: #f17228;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Poppins';
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}

@media (max-width: 770px) {
  .feature-container {
    box-shadow: none;
    background-image: url(../pics/feature.svg);
    background-size: 85%;
  }
  .features ul li {
    width: 100%;
    margin-left: 5%;
  }
}
@media (max-width: 1000px) {
  .features {
    /* button.sh */

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
  }
  .features ul li {
    width: 100%;
    margin-left: 0%;
    /* padding-left: 1%; */
    /* font-size: 14px; */
  }
  .features span {
    font-size: 14px;
    margin-left: 0%;
    width: 10vw;
  }
  .features p {
    font-size: 13px;
  }
}
